<h1>Editing Student: {{name}}</h1>


<form action="/student/{{_id}}/edit" method="POST">
  <div class="container">
    <div class="card">
      <div class="row">
        <label for="name">
          Name
          <input type="text" name="name" id="name" value="{{name}}" required>
        </label>
      </div>
      <div class="row">
        <label for="address">
          Address
          <input type="text" name="address" id="adress" value="{{address}}" required>
        </label>
      </div>
      <div class="row">
        <label for="phoneNumber">
          Phone Number
          <input type="text" name="phoneNumber" value="{{phoneNumber}}" required>
        </label>
      </div>
      <div class="row">
        <label for="price">
          Email
          <input type="email" name="email" id="email" value="{{email}}" required>
        </label>
      </div>
      <div class="row">
        <button type="submit"> Save Changes </button>
      </div>
    </div>
  </div>
</form>