<div class="top-message">
  <h1>Editing Student: {{name}}</h1>
</div>

<form action="/student/{{_id}}/edit" method="POST">
  <div class="container">
    <div class="card">
      <div class="container-button">
        <a href="/student"><button>Back</button></a>
      </div>
      <div class="row">
        <label for="name">
          Name
          <input type="text" name="name" id="name" value="{{name}}" required>
        </label>
      </div>
      <div class="row">
        <label for="address">
          Address
          <input type="text" name="address" id="adress" value="{{address}}" required>
        </label>
      </div>
      <div class="row">
        <label for="phoneNumber">
          Phone Number
          <input type="text" name="phoneNumber" value="{{phoneNumber}}" required>
        </label>
      </div>
      <label for="">
        Profile Picture
        {{!-- <input type="file" name="picture"> --}}
      </label>
      <div class="circle-picture">
        <img class="profile-pic" src={{profileImg}}>
      </div>
      <div class="row container-button">
        <button type="submit"> Save Changes </button>
      </div>
    </div>
  </div>
</form>