<div class="top-message">
  <h1>Editing Book: {{name}}</h1>
</div>

<br>


<form action="/book/{{_id}}/edit" method="POST">
    <div class="card">    <div class="container-button">
        <a href="/books"><button>Back</button></a>
    </div>
      <div class="row">
        <label for="name">
          Name
          <input type="text" name="name" id="name" value="{{name}}" required>
        </label>
      </div>
      <div class="row">
        <label for="name">
          Author
          <input type="text" name="author" id="author" value="{{author}}">
        </label>
      </div>
      <div class="row">
        <label for="year">
          Year
          <input type="number" name="year" id="year" value="{{year}}">
        </label>
      </div>
      <div class="row">
        <label for="price">
          Price
          <input type="number" name="price" id="price" value="{{price}}" required>
        </label>
      </div>
      <div class="container-button">
        <button type="submit"> Save Changes </button>
      </div>
    </div>
  </div>
</form>