<h1>Editing Student: {{name}}</h1>


<form action="/student/{{_id}}/edit" method="POST">
  <div class="container">
    <div class="card">
      <div class="row">
        <label for="name">
          Name
          <input type="text" name="name" id="name" value="{{name}}" required>
        </label>
      </div>
      <div class="row">
        <label for="address">
          Address
          <input type="text" name="address" id="adress" value="{{address}}" required>
        </label>
      </div>
      <div class="row">
        <label for="phoneNumber">
          Phone Number
          <input type="text" name="phoneNumber" value="{{phoneNumber}}" required>
        </label>
      </div>
      <label for="">
        Profile Picture
        {{!-- <input type="file" name="picture"> --}}
      </label>
      <div class="circle-picture">
        <img class="profile-pic"
          src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
      </div>
      <div class="row">
        <button type="submit"> Save Changes </button>
      </div>
    </div>
  </div>
</form>