<div class="top-message">
   <h1>Showing Student: {{name}}</h1>    
</div>

<div class="card-show">

    <div class="row-profile">
        <label for=""> Address: </label>
        {{address}}
        <br><br>
    </div>

    <div class="row-profile">
        <label for="">Phone Number:</label>
        {{phoneNumber}}
        <br><br>
    </div>

    <div class="row-profile">
        <label for="">Email:</label>
        {{email}}
        <br><br>
    </div>

    <div class="circle-picture">
        <img class="profile-pic" src={{profileImg}}>
    </div>

    <div class="row container-button">
        <a href="/student"><button>Back</button></a>
    </div>

</div>