<h1>Showing teacher: {{name}}</h1>

<div class="container">
    <div class="card-show">
        <div class="row">
            <label for="address">
                Address:
                <br>
                <br>
                {{address}}
            </label>
            <br>
            <br>
        </div>
        <div class="row">
            <label for="phoneNumber">
                Phone Number:
                <br>
                <br>
                {{phoneNumber}}
            </label>
            <br>
            <br>
        </div>
        <div class="row">
            <label for="email">
                Email:
                <br>
                <br>
                {{email}}
            </label>
            <br>
            <br>
        </div>
        <label for="books">
            Subjects For This Teacher:
            <br>
            <br>
            <table>
                {{#each subjects}}
                <tr>
                    <td>{{name}}</td>
                    <td> | Price Per Hour --- $ {{pricePerHour}}</td>
                </tr>
                {{/each}}
            </table>
        </label>
        <br>
        <label for="">
            Profile Picture
            {{!-- <input type="file" name="picture"> --}}
        </label>
        <div class="circle-picture">
            <img class="profile-pic"
                src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        </div>
        <div class="row">
            <a href="/teacher"><button>Back</button></a>
        </div>
    </div>
</div>
</div>