<div class="top-message">
    <h1>Showing Teacher: {{name}}</h1>
</div>

<div class="container">
    <div class="card-show">
        <div class="row-profile">
            <label for="address">Address:</label>
            {{address}}
            <br><br>
        </div>
        <div class="row-profile">
            <label for="phoneNumber">Phone Number:</label>
            {{phoneNumber}}
            <br><br>
        </div>
        <div class="row-profile">
            <label for="email"> Email:</label>
            {{email}}
            <br><br>
        </div>
        <div class="row-profile">
            <label for="books">
                Subjects For This Teacher:
                <br>
                <br>
                <table>
                    {{#each subjects}}
                    <tr>
                        <td>{{name}}</td>
                        <td> | Price Per Hour --- $ {{pricePerHour}}</td>
                    </tr>
                    {{/each}}
                </table>
            </label>
        </div>
        <br>
        <div class="circle-picture">
            <img class="profile-pic" src={{profileImg}}>
        </div>
        <div class="row container-button">
            <a href="/teacher"><button>Back</button></a>
        </div>
    </div>
</div>
</div>