<br>

<h1>List of Subjects</h1>

<div>
    <a href="/subject/new-subject">New Subject</a>
</div>
<br>
<table class="books-table">
    <tr>
        <th>Name</th>
        <th>Price Per Hour</th>
    </tr>
    {{#each allSubjects}}

    <td>{{name}}</td>
    <td class="price">$ {{pricePerHour}}</td>

    <td>
        <a href="/subject/{{_id}}/edit"> <button class="edit-button">Edit</button> </a>        
    </td>
       
    <form action="/subject/{{_id}}/delete" method="POST">
       <td>
           <button class="delete-button">delete</button>
       </td>
    </form>

    <td>
        <a href="/subject/{{_id}}/details"> <button class="row">Details</button> </a>        
    </td>
      
      <!--<form action="/book/{{_id}}/delete" method="POST">
         <td>
          <button>Delete Book</button>
          </td>
      </form>-->

    </tr>
    {{/each}}
</table>
