<div class="top-message">
    <h1>List of Teachers</h1>
</div>

<br>
{{#if superUser}}
<table class="books-table">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    {{#each allTeachers}}

    <td>{{name}}</td> 
    <td>{{phoneNumber}}</td>
    <td>{{email}}</td>
    <td>
        <a href="/teacher/{{_id}}/edit"> <button class="edit-button">Edit</button> </a>
    </td>

    <form action="/teacher/{{_id}}/delete" method="POST">
        <td>
            <button class="delete-button">delete</button>
        </td>
    </form>

    <td>
        <a href="/teacher/{{_id}}/details"> <button class="details-button">Details</button> </a>
    </td>

    </tr>
    {{/each}}
</table>
{{else}}
<table class="books-table">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    {{#each allTeachers}}

    <td>{{name}}</td> 
    <td>{{phoneNumber}}</td>
    <td>{{email}}</td>

    <td>
        <a href="/teacher/{{_id}}/details"> <button class="details-button">Details</button> </a>
    </td>

    </tr>
    {{/each}}
</table>
{{/if}}